<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Salon</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
   
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Sans+Thai:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&family=Raleway:wght@200&display=swap" rel="stylesheet">
    
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>

<body>
  
   <!-- Header -->
   <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4 ">
    <div class="col-md-3 mb-2 mb-md-0 ">
      <div class="fontlogo logomore">Beauty Salon .</b></div>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 ">
      <li><a href="./home-user" id="homeHeader" class="active nav-link px-3 heaDer fontAll ">หน้าแรก</a></li>
      <li><a href="./booking-user" id="bookingHeader"  class="nav-link px-3 heaDer fontAll ">การจองคิว</a></li>
      <li><a href="./service-user" id="servicesHeader" class="nav-link px-3 heaDer fontAll ">บริการของร้าน</a></li>
      <li><a href="./contact-user" id="contactHeader" class="nav-link px-3 heaDer fontAll ">ติดต่อ</a></li>
      
    </ul>
    <% if (loggedIn) { %>
    <div class=" nav me-3 text-end">
      <div><a href="./information-user" class=" nav-link px-3 heaDer fontAll">Hi, <%=UserData.username%></a></div>
      <div><a href="./logout" class="btn btn-danger">ออกจากระบบ</a></div>
    </div>
    <% } %>

    <% if (!loggedIn) { %>
      <div class=" nav me-3 text-end">
        <div><a href="./login-user" class="nav-link fontAll heaDer login">เข้าสู่ระบบ</a></div>
        <div><a href="./register" class="nav-link fontAll heaDer login">สมัครสมาชิก</a></div>
      </div>
      <% } %>
    
    </header>
  <!--ภาพจอง-->
  <div class="imgBooking">
    <div class="container col-xxl-8 px-4 pt-5 ">
      <div class="row flex-lg-row-reverse align-items-center g-5  pt-5 ">
        <div class="col-10 col-sm-8 col-lg-6  ">
          <img src="./img/img1.png" class="d-block mx-lg-auto img-fluid mt-5" alt="woman"  height="100%" loading="lazy">
        </div>
        <div class="col-lg-6 " >
          <h1 class="display-5 fw-lighter  lh-1 mb-3  fontlogo colorWel">Welcome</h1>
          <h3 class="fB ">To a Full Beauty.</h3>
          
          <div class="d-grid gap-2  justify-content-evenly " >
            <a href="./booking" role="button" class="btn btn-lg  me-md-2 text-white fontAll bookingNow ">จองคิวตอนนี้</a>

          </div>
        </div>
      </div>
    </div>
  </div>
 

  <!-- โปรโมชั่น -->
  <div class="promotion py-5 " >
    <div class="imgPro">
      <img class="pro1" src="./img/img2.png" alt="promotion1" height="400px" >
    </div>
    
  </div>

  <!--บริการของร้านหน้า home หรือ บริการคร่าวๆ -->
 <section class="services" id="services">
  <div class="container">
    <div class="img-services">
      <div class="hair">
        <img class="color Hair" src="./img/color-hair.jpg" alt="hair color">
        <h3 class="fontAll text-hair">ทำสี</h3>
      </div>

      <div class="hair">
        <img class="cut Hair" src="./img/cut-hair.jpg" alt="hair cut" >
        <h3 class="fontAll text-hair">ตัดผม</h3>
      </div>

      <div class="hair">
        <img class="dryer Hair" src="./img/dryer-hair.jpg" alt=" hair dryer" >
        <h3 class="fontAll text-hair">สระ-ไดร์</h3>
      </div>
    </div>
    
    <div class="more-services">
      <a href="#" class="nav-link fontAll text-more-ser">ดูบริการเพิ่มเติม</a>
    </div>
  
   
  </div>
 </section> 

 <!--footer-->
  <section id="footer-store">
    <div class="container">
      <footer class="py-3 ">
        <div  class="footerStore">
          <div class="logoFooter">
            <div class="fontlogo logo-footer">Beauty Salon .</b></div>
          </div>
          <div class="text-footer">
              <p class="text-center fontAll  pt-3">Copyright © XXXXX</p>
              <p class="text-center  fontAll">ร้านหยุดทุกวันจันทร์</p>
              <p class="text-center  fontAll">เปิดเวลา 10.00 - 19.00 น<div class=""></div></p>
          </div>
        </div>
      
      </footer>
    </div>
  </section>

  <%- include ('./chat') %>

    <!-- JavaScript-->
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
      crossorigin="anonymous">
    </script>
    
</body>
</html>