/*ส่วนของแอดมิน พนักงาน */
/*หน้า Home*/
body{
    font-family: 'Noto Sans Thai', sans-serif;
}
.b1{
    background-color: #FBE1C5;
}

#header-employee{
    background-color:white;
    margin: 0;
    padding: 0;
}

#header-employee .text-1{
    font-size: 40px;
    
}
#header-employee .nav{
     gap: 5px;
}

#header-employee .nav a{
    font-size: 20px;
    gap: 20px;
    color: #5F3122;
   
}
#header-employee .nav .active{
    background-color: #FBF2E9;
    border-radius: .5rem;
}


#header-employee .nav a:hover{
   background-color: #FBF2E9;
   border-radius: .5rem;

}

.text-header{
    color: #5F3122;
}

#frame-emp-cus{
    background-color: #D9D9D9;
    padding-top: 50px;
}

#part-emp-cus #frame-in-customer .container #header-emp-cus{
    
    background-color: #F19B9D;
    
}

.img1{
    position: absolute;
    z-index: 1;
    top:740px;
    left:50%;
}

.img2{
    position: absolute;
    z-index:1;
    top:1290px;
    left:33%;
}
.img3{
    position: absolute;
    z-index:4;
    top:1920px;
    left:8%;
}
.img4{
    position: absolute;
    z-index:1;
    top:1920px;
    left:34%;
}
.img5{
    position: absolute;
    z-index:3;
    top:1920px;
    left:60%;
}

.upload{
    margin-left: 90px;
}

.upload2{
    margin-left: 80px;
}

.form-in{
    background-color: white;
}

.group{
    background-color: white;
    border-radius: 5px;
    width: 355px;
    height: 50px;
    padding: 2px 2px 2px 4px;
    margin-top: 20px;
}

.group2{
    background-color: white;
    border-radius: 5px;
    width: 326px;
    height: 50px;
    padding: 2px 2px 2px 4px;
}

#part-emp-cus #frame-in-customer .imgBooking .container{
    background-color: #FBE1C5;
}
.change-logo{
    padding-top: 20px;
    padding-left: 50px;
}

#img-booking{
    padding-left: 100px;
    margin-bottom: 100px;
}

.img-booking{
    padding-left: 100px;
    margin-bottom: 10px;
    
}

.input-img-booking{
    padding-top: 10px;
    padding-left: 120px;
    margin-bottom: 30px;
}

#inputPromotion {
    display: flex;
    flex-direction: column;
    align-items:center;
}

#inputPromotion #input-promotion{
    padding-left: 100px;
    padding-top: 20px;
}

.chang-services-emp-cus{
    display: flex;
    justify-content: center;
}

.chang-services-emp-cus .input-img-services{
  padding-left: 100px;
}

.chang-services-emp-cus {
   margin-left: 100px;
}
.input-descri {
    margin-left: 100px;
    margin-top: 20px;
 }
.input-descri2{
    margin-left: 180px;
    margin-top: 20px;
 }

 .input-descri3{
    margin-left:185px;
    margin-top: 20px;
 }

#change-description-footer{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    gap: 10px;

}

#footer-emp{
    background-color: white;
    height: 100px;
}

/*footer ลูกค้าในหน้าแอดมิน*/
#footer-store-emp-cus {
    background-color: #F19B9D;
    padding-top: 30px;
}

#footer-store-emp-cus .container{
    height: 350px;
     
}

#footer-store-emp-cus .container .logoFooter{
    display: flex;
    justify-content: center;
     
}

#footer-store-emp-cus .container .logoFooter .logo-footer{
    font-size: 60px;
    color: white;
    margin-bottom:20px;
}

#footer-store-emp-cus .container .text-footer p{
    font-size: 20px;
   
}

#background-submit{
    background-color: white;
    height: 80px;
}
#button-submit{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 30px;
}

#button-submit button{
    font-size: 20px;
    margin-bottom: 30px;
}



/*หน้า Service*/
  .formser{
    background-color: #FBF2E9;
    margin: 2%;
    padding: 9%;
    border-radius: 1%;
  }
  #registration-form {
    font-family:'Open Sans Condensed', sans-serif;
    width: 400px;
    min-width:250px;
    margin: 20px auto;
    position: relative;
  }

  .modal-header{
    background-color: #E9A8A1;
    color: #5F3122;
  }
  .inbody{
    background-color: #FBF2E9;
    padding:20px 30px;
  }
    .modal-body{
        background-color: #fff;
        padding: 10%;
    }
    .btn-close{
        background-color: #fff;
    }
    .inputre {
        width: 50%;
        border-radius: 9px;
        padding: 7px;
        margin: 15px;
        width: 400px;
        min-width:250px;
	    margin: 20px auto;
	    position: relative;
    }
    .buttoncan {
        border:5px solid #f19b9d;
        background-color: #fff;
        border-radius: 15px;
        padding: 11px 27px;
        text-align: center;
        font-size: 16px;
        margin: 7px 5px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
      }

    .buttonbt {
        background-color: #f19b9d;
        border: none; 
        border-radius: 15px;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 7px 5px;
        margin-bottom: 50px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
      }
      
      .buttonre:hover {opacity: 1}



/*table*/
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
    margin: 40px;
  }
  
  td {
    text-align: center;
    font-size: 20px;
  }

#create-service{
    display: flex;
    justify-content:flex-end;
    padding-right: 100px;
    padding-bottom: 20px;
    margin-top: 50px;
}
#create-service a{
   background-color: #E9A8A1;
   font-size: 24px;
   color: #fff;
   border-radius: .5rem;
   padding-left: 15px;
   padding-right:15px;
   padding-top: 10px;
   padding-bottom: 10px;
}
#frame-emp-cus .createService {
    position: fixed;
    top: 30vh;
    bottom: 50vh;
    left: 50vh;
    right: 50vh;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

#frame-emp-cus .createService:target{
    visibility: visible;
    opacity: 1;
}

#frame-emp-cus .createService .container{
    background-color: #FBF2E9;
    width:300px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    border-radius: 1rem;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.editBodyServiceService{
    padding-top: 50px;
}

/* ส่วนแก้ไข หน้าโฮมลูกค้า*/
#header-customer {
    background-color: #F19B9D;
}

.imgBooking{
    background-color: #FBE1C5;
    height: 520px;
}

.fontlogo{
    font-family: 'Niconne', cursive;
    font-family: 'Pacifico', cursive;
    
}


.logomore{
    color: white;
    display: flex;
    font-size: 40px;
    padding-left: 50px;
}

.colorWel{
    color: #5F3122;
    font-size: 80px;
   padding-left: 200px;
}

b{
    color:#FBE1C5;
}

.fB{
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
   padding-left: 220px; 
    color: #5F3122;
}

.fontAll {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Sans Thai', sans-serif;
}


.bookingNow{
    background-color: #E9A8A1;
    margin-left: 140px;
    margin-top: 20px;
    
}

.bookingNow:hover{
    background-color: #5F3122;
        
}
.nav .heaDer {
    color: white;
    font-size: 18px;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    margin-right: 5px;
   
}

.nav .heaDer:hover{
    color: white;
    background-color: #FBE1C5;  
}

.nav .heaDer.active{
    background-color: #FBE1C5;
}

.promotion {
    background-color: #FBF2E9;
}

.row{
    display: flex;
    justify-content: center;
}

.imgPro {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.imgPro .pro1{
    margin-left: 20px;
    margin-right: 20px;
}

.services {
    background-color: #FBE1C5;
}

.services .container{
    height: 650px;
    
}
.services .container .img-services{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 50px;
}

.services .container .img-services .hair{
   /* background-color: white; */
    padding: 20px;
}

.services .container .img-services .hair .Hair{
    height: 300px; 
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.services .container .img-services .hair .Hair:hover{
    transform:scale(1.2,1.2);
   
}

.services .container .img-services .hair *{
   text-align: center;
   margin-top: 40px;
   color: #5F3122;
   font-size: 30px;
}

.services .container  .more-services{
    display: flex;
    justify-content:center;
}

.services .container .more-services .text-more-ser{
    display: flex;
    justify-content:center;
    font-size: 20px;
    color: white;
    background-color: #E9A8A1;
    border-radius: .5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Booking */

#booking {
    background-color: #FBE1C5;
    
}

#booking .container{
    height: 1200px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
     
}

#booking .container .Bookingg {
    color: #5F3122;
    font-size: 50px;
    margin-top: 50px;

}

#booking .container .table-booking{
    background-color: white;
    margin-top: 50px;
    height: 500px;
    width: 1000px;
}

#booking .container form{
   display: block;
   width: 500px;
}

#booking .container form .form-control{
    border-radius: 3rem;
    height: 50px;
 }

#booking .container form .textBooking{
    font-size: 25px;
    color: #5F3122;
 }

 #booking .container form .bookingNow2{
    display: flex;
    justify-content: center;
   
 }

 #booking .container form .bookingNow2{
    display: flex;
    justify-content: center;
   
 }

 #booking .container form button{
    background-color: #E9A8A1;
    color: #5F3122;
    font-size: 20px ;
    margin-top: 40px;
    width: 150px;
    border-radius: .5rem;
}

/* footer */
#footer-store {
    background-color: #F19B9D;
    padding-top: 30px;
}

#footer-store .container{
    height: 300px;
}

#footer-store .container .logoFooter{
    display: flex;
    justify-content: center;
}

#footer-store .container .logoFooter .logo-footer{
    font-size: 60px;
    color: white;
    margin-bottom:20px;
}

#footer-store .container .text-footer p{
    font-size: 20px;
}

/* prime */
ul.primary li a {
    display: block;
    padding: 10px 20px;
  }
  
  ul.primary li:last-child a {
    border-right: none;
  }
  
  ul.primary li a:hover {
    color: #000;
  }
  
  /* subs */
  ul.sub {
    position: absolute;
    z-index: 200;
    box-shadow: 2px 2px 0 #BEBEBE;
    width: auto;
    display:none;
  }
  
  ul.sub li {
    float: none;
    margin: 0;
  }
  
  ul.sub li:last-child a {
    border-bottom: none;
  }
  
  ul.sub li a:hover {
    color: #000;
    background: #eeeeee;
  }
  
  /* sub display*/
  ul.primary li:hover ul {
    display: block;
    background: #fff;
  }
  
  /* keeps the tab background white */
  ul.primary li:hover a {
    background: #fff;
    color: #666;
    text-shadow: none;
  }
  
  ul.primary li:hover > a{
    color: #000;
  } 
  
 .bg {
    background-color:#FBE1C5 ;
    width: 100%;
    height: 1000px;
    
 }

 .bg .text{
    text-align:center;
    font-size: 35px;
    color: #5F3122;
    padding-top: 50px;
 }
 
 .inputres {
    float:left;
    width: 50%;
    border-radius: 2rem;
    padding-left: 20;
    margin-top: 40px;
    margin-left: 50px; 
}

.textad {
    float:left;
    margin-top: 50px ;
    margin-left: 180px;
    color: #5F3122;
    font-size: 25px;
}

.textque {
    margin: 10px ;
    color: #5F3122;
    font-size: 16px;
}

.headtext {
    color: #5F3122;
    font-size: 28px;
    margin-left: 70px;
}

.headtext1 {
    margin-top: 70px;
}

.line-4 {
    margin-left: 70px;
    height: 5px;
    width: 300px;
    border: 0;
    background: #5F3122;
  }

  /* หน้าแก้ไขข้อมูลพนักงานและลูกค้า */
.edit{
    margin-top: 60px;
    margin-bottom: 40px;
    padding-top: 45px;
    border-radius: 70px;
    width: 1000px;
    height: 450px;
    background-color: #FBF2E9;
  }

.conto {
    margin-left: 100px;
}

.icon {
    float: right;
}

.inputedit {
    width: 50%;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 100px;
    padding-left: 30px;
    background-color: #ffff;
    color: #5F3122;
  }

.coinput {
    margin-bottom: 19px;
  }

.line-4-1 {
    margin-left: 43px;
    height: 5px;
    width: 300px;
    border: 0;
    background: #5F3122;
  }

.textedit{
    margin-left: 110px;
    color: #5F3122;
    font-size: 28px;
  }

.histo {
    margin-left: 220px;
    background-color: #FBF2E9;
    width: 70%;
    height: 110px;
    margin-bottom: 20px;

  }

 .chang-services-emp-cuss{
    display: flex;
    justify-content: left;
}

.textinfo{
    margin-left: 70px;
    color: #5F3122;
    font-size: 24px;
}
.flex-container {
    margin-left: 70px;
    display: flex;
  }
  
.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 70px;
    height: 40px;
}

/* หน้า แก้ไขข้อมูลพนักงาน */
.form-control {
    border-radius: 20px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    width: 350px;
    height: 50px;
}

.textUser {
    font-size: 20px;
    font-weight: bold; 
    color: #F19B9D;
    text-align: center;
    margin: 20px;
    font-size: 24px;
}
  

/*หน้า queuebooking pay ejs */


#infoTable .container .sectionTable{
    background-color: #FBF2E9;
    height:10vh;
    
    
}
#infoTable .container .sectionTable td{
    color: #5F3122;
    font-size: 24px;
    background-color: #FBF2E9;
    padding-left: 10px;
   
}


#infoTable .container .infoTable{
    background-color: #fff;
    height:10vh;   
    
}
#infoTable .container .infoTable td{
    color: #5F3122;
    font-size: 18px;
    text-align:center;
    
}
#infoTable .container .infoTable a{
    color: #F19B9D;
    
}
#infoTable .container .infoTable button{
    color: #F19B9D;
}
.select{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    justify-items: center;

}


.item-time{
    background-color: white;
    color: #5F3122;
    padding: 10px 10px 10px 10px;
    border-radius: 3rem;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.1s;
    display: flex;
    gap: 10px;
}

.item--selected{
    background-color: #E9A8A1;
    
}



/*หน้า pay ejs */

/*หน้า editService ejs */
#edit_service .container {
   background-color: #FBF2E9;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   margin-top: 30px;
   
   width: 800px;
   border-radius: 1rem;
}

.text_edit h2{
    margin-top: 50px;
    padding-left: 50px;
    color: #5F3122;
}
.text_edit svg{
    color: #E9A8A1;
}

.editS{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 20px;
}

.editSe{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: 1fr ;
    padding-left: 50px;
    padding-bottom: 10px;
   
}

.editSe label{
    font-size: 20px;
}

.editSe  .select{
   
    padding-top:20px;
    padding-bottom: 20px;
}


.modal-footer .container{
    display: flex;
    justify-content:center;
    width: 700px;
    margin-top: 40px;
    margin-right: 150px;
    gap: 10px
}

.buttonDelete{
    font-size: 16px;
    background-color: white;
    border: #F19B9D 5px solid; 
    border-radius: 15px;
    color: #F19B9D;
    width: 113.25px;
    height: 62px;
    margin-top: 7px;
}
.buttonDelete:hover{
    color: #F19B9D;
}
.modal-footer .container button{
    font-size: 20px;
}

.buttonClose .container{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 800px;
}

.buttonClose .container button{
    height: 30px;
    width: 30px;
}
 .colorText{
    color: #5F3122;
}
.colorDeleteService{
    color: #F19B9D;
}
/*หน้า view-employeeinfo-adim ejs */
.showInfoEmp{
    display: flex;
    justify-content:center;
}

.showInfoEmp .showEmp .fontInfoEmpTitle{
    text-align: left;
    font-size: 30px;
    color: #5F3122;
    
}

.showInfoEmp .showEmp .fontInfoEmp{
    font-size: 30px;
    color: #F19B9D;
    text-align: left;
    
}

/*edit information*/
.ebuttoncan {
    border:5px solid #f19b9d;
    background-color: #fff;
    border-radius: 15px;
    padding: 11px 27px;
    font-size: 16px;
    margin: 7px 5px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

.ebuttonbt {
    background-color: #f19b9d;
    border: none; 
    border-radius: 15px;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    margin: 7px 5px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .ebuttonre:hover {opacity: 1}

.eco {
    margin-left: 30%;
    margin-top: 2%;
}

.eedit{
    margin-top: 60px;
    margin-bottom: 40px;
    padding-top: 45px;
    border-radius: 70px;
    width: 1000px;
    height: 530px;
    background-color: #FBF2E9;
  }

  /* edit stock*/

  #edit_stock .container {
    background-color: #FBF2E9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    height: 620px;
    width: 800px;
    border-radius: 1rem;
 }

