body{
    font-family: 'Noto Sans Thai', sans-serif;
  }
  
.containers {
    display: flex;
    justify-content: center;
    height: 1100px;
}

/* Booking */

#bookings {
    background-color: #FBE1C5;
}

#bookings .containers{
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  
}

#bookings .containers  {
    color: #5F3122;
    font-size: 50px;
}


.bgg {
    background-color:#FBE1C5 ;
    width: 100%;
    height: 1200px;
}

 .bgg .text{
    text-align:center;
    font-size: 35px;
    color: #5F3122;
    padding-top: 50px;
 }

.form-controls {
    border-radius: 20px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    width: 550px;
    height: 50px;
    border: 0;
}
.inputre {
    float:left;
    width: 50%;
    border-radius: 2rem;
    padding-left: 20;
    margin-top: 40px;
    margin-left: 50px; 
    background-color: white;
}

.inputres {
    float:left;
    width: 50%;
    border-radius: 2rem;
    padding-left: 20;
    margin-top: 40px;
    margin-left: 50px; 
}
/*+map*/
.mapform {
    border-radius: 20px;
    border: 0;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    width: 60%;
    height: 50px;
    padding: auto;
    margin-left: 20%;
    margin-bottom: 45px;
    margin-top: 10px;
}
.formmap {
    margin-top: 40px;
}

.div1{
    
    background-color:rgba(251, 242, 233, 0.6);
    margin-left: 19%;
    margin-top: 70px;
    border-radius: 20px;
    width: 900px;
    height: 220px;
}
.div2{
    position: absolute;
    z-index: 2;
    background-color:rgba(251, 242, 233);
    margin-left: 18%;
    margin-top: 50px;
    border-radius: 20px;
    width: 900px;
    height: 220px;
}

.textad {
    float:left;
    margin-top: 50px ; 
    margin-left: 110px;
    color: #5F3122;
    font-size: 25px;
}
 
.formmap1 {
    margin-left: 70px;
    margin-top: 20px;
}

.textad1 {
    float:left;
    margin-top: 50px ;
    margin-left: 180px;
    color: #5F3122;
    font-size: 25px;
}
 
 #maps {
    overflow:hidden;
    height:550px;
    width:100%;
  }

  #map {
    height: 40%;
    width: 80%;
    margin-left: 10%;
  }
 
  .textservice {
    color: #5F3122;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
} 

.copy {
    margin-bottom: 10px;
    margin-left: 15px;
}


.contact-info {
display: inline-block;
width: 60%;
text-align: center;
margin-left: 10px;
margin-bottom: 10px;
}
.contact-info-icon {
margin-bottom: 15px;
}
.contact-info-item {
padding: 30px 0px;
}

.contact-info-icon i {
font-size: 48px;
color: #ffff;
}
.contact-info-text p{margin-bottom:0px;}
.contact-info-text h2 {
color: #5F3122;
font-size: 22px;
text-transform: capitalize;
font-weight: 600;
margin-bottom: 10px;
}
.contact-info-text span {
color: #5F3122;
font-size: 16px;
display: inline-block;
width: 100%;
}





* {
	margin:0px;
	padding:0px;
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


body {
	background: #ffffff;
	color: #333;
	font-weight: normal;
	font-size: 1em;
	font-family: 'Roboto', Arial, sans-serif;
}

input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}


/* Contact Form Styling */
.container {
	padding: 0 50px 70px;
}
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 .shtext {
	display: block;
	margin-top: 20px;
}
.section1 .seperator {
	border-bottom:1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}

.section1 h1 {
	font-size: 40px;
	color: #F19B9D;
	font-weight: normal;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    border-radius: 10px;
    background: #fff;
    margin: 7px 0;
}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
  resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #F19B9D;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}
.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #F19B9D;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.container {
		padding: 0 30px 70px;
	}
	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}
@media only screen and (max-width: 768px) {
	.section2 .sec2addr {
		font-size: 14px;
	}
	.section2 .sec2contactform h3 {
		font-size: 16px;
	}
	.section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
		padding: 10px;
		margin:3px 0;
	}
	.section2 .sec2contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}	
}

.buttoncon {
    background-color: #f19b9d;
    border: none; 
    color: #fff;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    width: 100px;
    margin: 7px 5px;
  }
  