.containers {
    display: flex;
    justify-content: center;
    height: 1100px;
}

/* Booking */

#bookings {
    background-color: #FBE1C5;
}

#bookings .containers{
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  
}

#bookings .containers  {
    color: #5F3122;
    font-size: 50px;
}


.bgg {
    background-color:#FBE1C5 ;
    width: 100%;
    height: 1200px;
}

 .bgg .text{
    text-align:center;
    font-size: 35px;
    color: #5F3122;
    padding-top: 50px;
 }

.form-controls {
    border-radius: 20px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    width: 550px;
    height: 50px;
    border: 0;
}
.inputre {
    float:left;
    width: 50%;
    border-radius: 2rem;
    padding-left: 20;
    margin-top: 40px;
    margin-left: 50px; 
    background-color: white;
}

.inputres {
    float:left;
    width: 50%;
    border-radius: 2rem;
    padding-left: 20;
    margin-top: 40px;
    margin-left: 50px; 
}
/*+map*/
.mapform {
    border-radius: 20px;
    border: 0;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    width: 60%;
    height: 50px;
    padding: auto;
    margin-left: 20%;
    margin-bottom: 45px;
    margin-top: 10px;
}
.formmap {
    margin-top: 40px;
}

.div1{
    
    background-color:rgba(251, 242, 233, 0.6);
    margin-left: 19%;
    margin-top: 70px;
    border-radius: 20px;
    width: 900px;
    height: 220px;
}
.div2{
    position: absolute;
    z-index: 2;
    background-color:rgba(251, 242, 233);
    margin-left: 18%;
    margin-top: 50px;
    border-radius: 20px;
    width: 900px;
    height: 220px;
}

.textad {
    float:left;
    margin-top: 50px ; 
    margin-left: 110px;
    color: #5F3122;
    font-size: 25px;
}
 
.formmap1 {
    margin-left: 70px;
    margin-top: 20px;
}

.textad1 {
    float:left;
    margin-top: 50px ;
    margin-left: 180px;
    color: #5F3122;
    font-size: 25px;
}
 
 #maps {
    height: 50%;
    width: 1000px;
    margin-left: 225px;
  }

  #map {
    height: 40%;
    width: 80%;
    margin-left: 10%;
  }
 
  .textservice {
    color: #5F3122;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
} 

.copy {
    margin-bottom: 10px;
    margin-left: 15px;
}

