.editS1{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 20px;
}

.editSe1{
    display: grid;
    grid-template-columns:300px 100px;
    padding-left: 50px;
    padding-bottom: 10px;
   
}

.editSe2{
    display: grid;
    grid-template-columns:200px 300px;
    padding-left: 50px;
    padding-bottom: 10px;
   
}

#edit_service1 .container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 25px;
    margin-bottom: 50px;
    height: 550px;
    width: 800px;
    border-radius: 1rem;
 }

 #edit_service2 .container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 60px;
    height: 1100px;
    width: 800px;
    border-radius: 1rem;
 }

 .cons {
    margin-top: 10px;
    margin-right: 50px;
}

.buttonDelete{
    font-size: 16px;
    background-color: white;
    border: #F19B9D 5px solid; 
    border-radius: 15px;
    color: #F19B9D;
    width: 110px;
    height: 57px;
    margin-top: 7px;
}
.buttonDelete:hover{
    color: #F19B9D;
}

.textques {
    margin-left: 70px;
    color: #5F3122;
    font-size: 24px;
}

.textques2 {
    margin-left: 20px;
    color: #5F3122;
    font-size: 24px;
}

.b0{
    color: black;
    margin-left: 10px;
}
.b2{
    color: black;
    margin-left: 24px;
}
.b3{
    color: black;
    margin-left: 42px;
}
.b4{
    color: black;
    margin-left: 42px;
}
.b5{
    color: black;
    margin-left: 40px;
}
.b6{
    color: black;
    margin-left: 83px;
}
.b7{
    color: black;
    margin-left: 87px;
}

.b8{
    color: black;
    margin-left: 142px;
}
.b9{
    color: black;
    margin-left: 87px;
}
.b10{
    color: black;
    margin-left: 105px;
}
.b11{
    color: black;
    margin-left: 40px;
}
.b12{
    color: black;
    margin-left: 82px;
}
.b13{
    color: black;
    margin-left: 40px;
}

.b14{
    color: #5F3122;
    margin-right: 20px;
}


.pad {
    font-size: 20px;
    margin-bottom: 20px;
}
.pad1 {
    font-size: 20px;
    margin-bottom: 30px;
}

.modal-footer {
    height: 100px;
}

.modal-body {
    padding-right: 30px;
    padding-left: 40px;
    height:390px ;
}

.modal-body1 {
    padding-top: 20px ;
    padding-right: 30px;
    padding-left: 30px;
    height:1000px ;
}

.modal-body2 {
    padding-right: 30px;
    padding-left: 40px;
    margin-top: 50px;
    height:235px ;
}

.modal-body3 {
    padding-right: 30px;
    padding-left: 40px;
    margin-top: 50px;
    height:255px ;
}

.modal-body4 {
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 40px;
    height:420px ;
}

.inbody1{
    border-radius: 8px;
  }

  .inbody2{
    padding-left: 10px;
    padding-bottom: 30px;
    border-radius: 8px;
  }

.fontAll.infoBookingtime {
    width: 450px; 
  }

  .fontAll.infoBookingtimes {
    width: 500px; 
  }


  .fontAll.infoBooking.time {
    padding: 5px; 
  }

  .fontAll.infoBooking.emp {
    padding: 7px; 
  }

  .faa {
    margin-left: 10px;
  }

  #edit_stock1 .container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 50px;
    height: 710px;
    width: 800px;
    border-radius: 1rem;
 }

 .imgser {
    margin: 10px;
    height: 70px;
    width: 70px;
 }

 /* Style tab links */
.tablinks {
    background-color: #F19B9D;
    color:#5F3122;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 24px 26px;
    font-size: 30px;
    width: 50%;
  }
  
  .tablinks:hover {
    background-color: #f8a4a8;
  }
  .tabcontents {
    color: #5F3122;
    background-color: #fff;
    display: none;
    margin-bottom: 50px;
    padding: 120px 0px 30px 0px;
    height: 30%;
  }

  .oo {
    width: 94%;
  }

  .iinfo {
    background-color: #fcf2f1;
  }

  