body{
    font-family: 'Noto Sans Thai', sans-serif;
}

.b1{
  background-color: #FBE1C5;
}

#header-employee{
  background-color:white;
  margin: 0;
  padding: 0;
}

#header-employee .text-1{
  font-size: 40px;
  
}
#header-employee .nav{
   gap: 5px;
}

#header-employee .nav a{
  font-size: 20px;
  gap: 20px;
  color: #5F3122;
}

#header-employee .nav .active{
  background-color: #FBF2E9;
  border-radius: .5rem;
}

#header-employee .nav a:hover{
 background-color: #FBF2E9;
 border-radius: .5rem;

}

/* prime */
ul.primary li a {
  display: block;
  padding: 10px 20px;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  color: #000;
}

/* subs */
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 20%;
  display:none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub display*/
ul.primary li:hover ul {
  display: block;
  background: #fff;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

.text-header{
  color: #5F3122;
}

  hr {
    border: 1px solid black;
  }
  
  #report {
    background-color: bisque;

  }

  /*table*/
  .tables {
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
    margin-left: 15px;
  }

  .tabless {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    margin-left: 15px;
  }

  .tables2 {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    margin-left: 15px;
  }

  td {
    padding-left: 10px;
  }

  .h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }

  b {
    font-size: 18px;
    margin-left: 20px;
  }

  p {
    margin-left: 20px;
    margin-top: 10px;
  }

  .p1 {
    font-size: 16px;
  }

  .total {
    float: right;
    margin-right: 30px;
  }

  
  .total1 {
    float: right;
    margin-right: 10px;
  }

  .total2 {
    float: right;
    margin-right: 100px;
  }

  .total3 {
    float: right;
    margin-right: 135px;
  }

  .cota {
    font-size: 16px;
  }

  .farr {
    color: #5F3122;
    font-size: 25px;
    margin-left: 20px;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-family: 'Noto Sans Thai', sans-serif;
  }

  .iicon {
    color: #5F3122;
    margin-left: 20px;
  }

  /* CSS สำหรับปุ่ม Print และ Download PDF */
#printButton, #downloadPdfButton {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #E38888;
  border: none;
  cursor: pointer;
}

#printButton:hover, #downloadPdfButton:hover {
  background-color: #c8cfd7;
}

.but {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.trr {
  font-size: 16px;
}

