body{
    font-family: 'Noto Sans Thai', sans-serif;
}

.b1{
  background-color: #FBE1C5;
}

#header-employee{
  background-color:#F19B9D;
  margin: 0;
  padding: 0;
}

#header-employee .text-1{
  font-size: 40px;
  
}
#header-employee .nav{
   gap: 5px;
}

#header-employee .nav a{
  font-size: 20px;
  gap: 20px;
  color: #fff;
}

#header-employee .nav .active{
  background-color: #FBE1C5;
  border-radius: .5rem;
  color: #5F3122;
}

#header-employee .nav a:hover{
 background-color: #FBE1C5;
 border-radius: .5rem;

}

/* prime */
ul.primary li a {
  display: block;
  padding: 10px 20px;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  color: #000;
}

/* subs */
ul.sub {
  position: absolute;
  z-index: 200;
  width: 20%;
  display:none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #F19B9D;
}

/* sub display*/
ul.primary li:hover ul {
  display: block;
  background: #F19B9D;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #F19B9D;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

.text-header{
  color: #5F3122;
}

  hr {
    border: 1px solid black;
  }
  
  #report {
    background-color: bisque;

  }

  /*table*/
  .tables {
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
    margin-left: 15px;
  }

  .tabless {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    margin-left: 15px;
  }

  .tables2 {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    margin-left: 15px;
  }

  .tables3 {
    border-collapse: collapse;
    border: 1px solid #000;
    width: 100%;
    font-size: 16px;
    margin-left: 15px;
  }
   .th {  
    border: 1px solid #000;
    text-align: center;
  }
   .td {  
    border: 1px solid #000;
    text-align: left;
  }


  td {
    padding-left: 10px;
  }

 .h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  } 

  .h2 {
    font-weight:bold;
    font-size: 18px;
    text-align: center;
  }
  
  .h3 {
    font-size: 18px;
    margin-bottom: 30px;
    padding-top: 15px;
  }

  .h4 {
    font-size: 18px;
    padding-top: 15px;
  }

  .h5 {
    font-size: 20px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .month {
    margin-top: 15%;

  }

  b {
    font-size: 18px;
    margin-left: 20px;
  }

  p {
    margin-left: 20px;
    margin-top: 10px;
  }

  .p1 {
    font-size: 16px;
  }

  .total {
    float: right;
    margin-right: 30px;
  }

  
  .total1 {
    float: right;
    margin-right: 10px;
  }

  .total2 {
    float: right;
    margin-right: 100px;
  }

  .total3 {
    float: right;
    margin-right: 135px;
  }

  .cota {
    font-size: 16px;
  }

  .farr {
    color: #5F3122;
    font-size: 25px;
    margin-left: 20px;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-family: 'Noto Sans Thai', sans-serif;
  }

  .iicon {
    color: #5F3122;
    margin-left: 20px;
  }

  /* CSS สำหรับปุ่ม Print และ Download PDF */
#printButton, #downloadPdfButton {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #E38888;
  border: none;
  cursor: pointer;
}

#printButton:hover, #downloadPdfButton:hover {
  background-color: #eaebed;
}

.but {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.trr {
  font-size: 16px;
}

.btn-danger {
  border: none;
}


/*-------- Style the tab------- */
.tabs {
  float: left;
  background-color: #F19B9D;
  width: 30%;
  height: 644px;
}

/* Style the buttons inside the tab */
.tabs button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  height: 214.5px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #fde9e5;
}

/* Create an active/current "tab button" class */
.tabs button.active {
  background-color: #fcf2f1;
}

/* Style the tab content */
.tabcontents {
  background-color: #fcf2f1;
  float: left;
  padding: 70px;
  width: 70%;
  border-left: none;
  height: 644px;
}

.hh {
  font-size: 26px;
  text-align: center;
}

.comment{
  background-color: #fff;
  float: left;
  width: 900px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 6px 6px 6px #cbced1, 6px 6px 6px white;
  
}
.comment h4,.comment span,.darker h4,.darker span{
  display: inline;
}

.comment p,.comment span,.darker p,.darker span{
  color: #5F3122;
}

.date {
  float: inline-end;
  font-size: 24px;
  margin-top: 17px;
}
 .icon {
  z-index: 2;
  position: absolute;
 }

 .in {
  margin-top: 5px;
  font-size: 16px;
 }

.ff {
  margin-left: 85px;
}