.containers {
    display: flex;
    justify-content: center;
    height: auto;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    margin-bottom: 150px;
    border-radius: 30px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.1 );
}

.fl-table {
    border-radius: 30px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: #FBF2E9;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    font-size: 28px;
    padding: 50px;
    width: 400px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #ffff;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
.textservice {
    color: #5F3122;
    font-size: 50px;
    padding-top: 90px;
    margin-bottom: 50px;
    text-align: center;
}

.infoTable {
    font-size: 32px;
    color: #5F3122;
    background-color: #FBE1C5;
    margin: 20px;
    height:20vh;
}

hr {
    border: 2px solid black;
    margin: 40px 40px;
    width: 1000px;
  }

.bgco {
  --color: rgba(30, 30, 30);
  --bgColor: #fcf2f1;
  min-height: 100vh;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 คอลัมน์ที่มีขนาดเท่ากัน */
  align-content: center;
  color: var(--color);
  background: var(--bgColor);
}

.ol {
  width: min(60rem, 90%);
  margin-inline: auto;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  text-align: center;

  list-style: none;
}

.ol .li {
  width: 22rem;
  --borderS: 2rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--borderS) + 4.5rem);
  position: relative;
}
.ol .li::before,
.ol .li::after {
  inset: 0;
  position: absolute;
  border-radius: 50%;
  border: var(--borderS) solid var(--bgColor);
  line-height: 1.1;
}
.ol .li::before {
  color: var(--accent-color);
  font-size: 12rem;
  font-weight: 700;
  overflow: hidden;
}

.ol .li::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}

.ol .li > * { width: 8rem }
.ol .li .icon { font-size: 2rem; color: var(--accent-color); text-align: center }
.ol .li .title { font-size: 1.25rem; font-weight: 300; }
.ol .li .descr { font-size: 0.9rem; font-weight: 300 }

.credits { margin-top: 2rem; text-align: center }
.credits a { color: var(--color) }


