header {
    background-color: #F19B9D;
}

.error-message {
    color: red;
    font-size: 18px;
    margin-left: 250px;
}

.error-message2 {
    color: red;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 10px;
}


.imgBooking{
    background-color: #fff;
}

.fontlogo{
    font-family: 'Niconne', cursive;
    font-family: 'Pacifico', cursive;
    
}

.logomore{
    color: white;
    display: flex;
    font-size: 40px;
    padding-left: 50px;
}

.colorWel{
    color: #5F3122;
    font-size: 80px;
    padding-left: 120px;
}

b{
    color:#FBE1C5;

}

.fB{
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
   padding-left: 220px; 
    color: #5F3122;
}

.fontAll {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Sans Thai', sans-serif;
}


.bookingNow{
    background-color: #F19B9D;
    margin-left: 140px;
    margin-top: 20px;
}

.bookingNow:hover{
    background-color: #E9A8A1;     
}

.nav .heaDer {
    color: white;
    font-size: 18px;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    margin-right: 5px;
}

.nav .heaDer:hover{
    color: white;
    background-color: #FBE1C5;  
}
.nav .heaDer.active{
    background-color: #FBE1C5;
}
  
.promotion {
    background-color: #FBF2E9;
}

.row{
    display: flex;
    justify-content: center;
}

.imgPro1 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.imgPro1 .pro1{
    margin-left: 20px;
    margin-right: 20px;
}

.services {
    background-color: #fff;
}

.services .container{
    height: 550px;
}
.services .container .img-services{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 50px;
}

.services .container .img-services .hair{
   /* background-color: white; */
    padding: 20px;
    border-radius: 3rem;
}

.services .container .img-services .hair .Hair{
    height: 300px; 
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.services .container .img-services .hair .Hair:hover{
    transform:scale(1.2,1.2);
}

.services .container .img-services .hair *{
   text-align: center;
   margin-top: 40px;
   color: #5F3122;
   font-size: 30px;
}

.services .container  .more-services{
    display: flex;
    justify-content:center;
}

.services .container .more-services .text-more-ser{
    display: flex;
    justify-content:center;
    font-size: 20px;
    color: white;
    background-color: #F19B9D;
    border-radius: .5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Booking */

#booking {
    background-color: #fcf2f1;
}

#booking .container{
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  
}

#booking .containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#booking .container .Bookingg {
    color: #5F3122;
    font-size: 50px;
    margin-top: 50px;
}

#booking .container .table-booking{
    background-color: white;
    margin-top: 50px;
    height: 500px;
    width: 1000px;
}

#booking .container form{
   display: block;
   align-items: center;
}

#booking .container form .form-control{
    border-radius: 3rem;
    height: 50px;
 }

#booking .container form .textBooking{
    font-size: 25px;
    color: #5F3122;
 }

 #booking .container form .bookingNow2{
    display: flex;
    justify-content: center;
 }



 #booking .container form .bookingButton{
    background-color: #F19B9D;
    color: #5F3122;
    font-size: 20px ;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 150px;
    border-radius: .5rem;
}

.select{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    justify-items: center;

}
.selects{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    justify-items: center;

}

.selectss{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
    justify-items: center;

}

.item-time{
    background-color: rgb(252, 242, 241,0.6);
    color: #5F3122;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.1s;
}
 .item-service{
    text-align: center;
    width: 250px;
    background-color: rgb(252, 242, 241,0.6);
    color: #5F3122;
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.1s;
}


 .item--selected{
    background-color: #F19B9D;
    color: #fff;
}





/* footer */
#footer-store {
    background-color: #F19B9D;
    padding-top: 30px;
}

#footer-store .container{
    height: 300px;
}

#footer-store .container .logoFooter{
    display: flex;
    justify-content: center;
}

#footer-store .container .logoFooter .logo-footer{
    font-size: 60px;
    color: white;
    margin-bottom:20px;
}

#footer-store .container .text-footer p{
    font-size: 20px;
}

/*Ploy*/
body{
    font-family: 'Noto Sans Thai', sans-serif;
}

.login1{
    background-color: #FBF2E9; 
    width: 864px;
    height:459px; 
    border-radius: 24px;
    padding: 2%;
    margin: auto;
}

.register{
    background-color: #FBF2E9; 
    width: 864px;
    height:509px; 
    border-radius: 24px;
    padding: 2%;
    margin: auto;
}

.icon{
    text-align: center;
    color: #f19b9d;
    padding-bottom: 4%;
}

.inputre .form-control{
    float:right;
    width: 40%;
    border-radius: 2rem;
    padding: auto;
    padding-left: 20;
    margin-right: 60;
    margin-bottom: 30;
}

.buttonre {
    background-color: #f19b9d;
    border: none; 
    border-radius: 15px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 7px 5px;
    margin-left: 36%;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .buttonre:hover {opacity: 1}

  .inputlog .form-control{
    width: 50%;
    height: 50;
    border-radius: 2rem;
    padding: auto;
    padding-left: 20;
    margin-bottom: 30;
  }

  .contrainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .forrgetpass{
    text-align: right;
    margin-right: 245;
  }

  .regis{
    margin-left: 38%;
    margin-bottom: 10;
    margin-top: 10;
  }

  .textsystem{
    margin-top: 25;
  }

  /* สมัคร */
.edit{
    margin-top: 75px;
    margin-bottom: 70px;
    padding-top: 45px;
    border-radius: 70px;
    width: 1000px;
    height: 500px;
    /* background-color: rgb(251, 242, 233,0.6);*/
    background: #fff;
    box-shadow: 14px 14px 20px  7px #cbced1, 0px 0px 20px  white;
  }


.icon {
    float: right;
}

.inputedit {
    width: 50%;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 100px;
    padding-left: 30px;
    background-color: #ffff;
    color: #5F3122;
  }

.coinput {
    margin-bottom: 19px;
  }

.line-4-1 {
    margin-left: 43px;
    height: 5px;
    width: 360px;
    border: 0;
    background: #5F3122;
  }

  .line-4-2 {
    margin-left: 135px;
    height: 5px;
    width: 360px;
    border: 0;
    background: #5F3122;
  }

.textedit{
    margin-left: 110px;
    color: #5F3122;
    font-size: 28px;
  }

  .textedit2{
    margin-left: 190px;
    color: #5F3122;
    font-size: 28px;
  }
.histo {
    margin-left: 220px;
    background-color: #FBF2E9;
    width: 70%;
    height: 110px;
    margin-bottom: 20px;
  }

 .chang-services-emp-cuss{
    display: flex;
    justify-content: left;
}

.textinfo{
    margin-left: 70px;
    color: #5F3122;
    font-size: 24px;
}
.flex-container {
    margin-left: 70px;
    display: flex;
  }
  
.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 70px;
    height: 40px;
}

.form-control {
    border-radius: 20px;
    font-size: 20px;
    padding-left: 20px;
    padding: auto;
    margin-bottom: 10px;
    width: 310px;
    height: 50px;
}

.textUser {
    font-size: 20px;
    font-weight: bold; 
    color: #F19B9D;
    text-align: center;
    margin: 20px;
    font-size: 24px;
}
  
/*แก้ไขข้อมูลลูกค้า*/
.edituser{
    margin-top: 60px;
    margin-bottom: 40px;
    padding-top: 45px;
    border-radius: 70px;
    width: 1000px;
    height: 450px;
    background-color: #FBF2E9;
  }

  .conto {
    margin-left: 100px;
}

.form-control {
    border-radius: 30px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    width: 350px;
    height: 50px;
    outline: none;
    background-color: #fff;
}

.ebuttoncan {
    border:5px solid #f19b9d;
    background-color: #fff;
    border-radius: 15px;
    padding: 11px 27px;
    font-size: 16px;
    margin: 7px 5px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

.ebuttonbt {
    background-color: #f19b9d;
    border: none; 
    border-radius: 15px;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    margin: 7px 5px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .ebuttonre:hover {opacity: 1}

  .eco {
    margin-left: 30%;
    margin-top: 2%;
}

#error-message3 {
    margin-left: 20px;
    margin-bottom: 0px;
}

.buttonClose .container{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 1000px;
}

.buttonClose .container button{
    height: 30px;
    width: 30px;
}

.btn-close{
    background-color: #fff;
}


.text_edit h2{
    margin-top: 50px;
    padding-left: 50px;
    color: #5F3122;
}
.text_edit svg{
    color: #E9A8A1;
}

.editS{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 20px;
}

.editSe{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: 1fr ;
    padding-left: 50px;
    padding-bottom: 10px;
   
}

.editSe label{
    font-size: 20px;
}

.editSe  .select{
    padding-top:20px;
    padding-bottom: 20px;
}
.modal-header{
    background-color: #E9A8A1;
    color: #5F3122;
    height: 50px;
}

  .modal-body3{
    background-color: #fff;
    padding: 15% 10% 15% 10%;
    text-align: center;
}

.buttonbt{
    background-color: #F19B9D;
    color: #fff;
    font-size: 18px;
    width: 150px;
    border-radius: .5rem;
    padding: 10px 10px 10px 10px;
    border: none;
}
.buttonbt:hover {opacity: 1;background-color:#E9A8A1;}

.colorText {
    color: #5F3122;
    margin-bottom: 15px;
}
.colorDeleteService {
    color: #F19B9D;
    font-size: 24px;
    font-weight: normal;
}

.ii {
    margin-right: 20px;
    color: #E9A8A1;
}

.bbg {
    color: white;
}

.t1 {
    margin-bottom: 50px;
}

.navbar {
    z-index: 5;
    position: sticky;
    top: 0;
}

@media (max-width: 947px){
    /*home-user */
    
    .logomore{
        display: flex;
        align-self: center;
    }
    .nav .heaDer{
        color: white;
        font-size: 15px;
        padding: .5rem 1.5rem;
        border-radius: .5rem;
        margin-top: 5px;
        
        
    }

    /*login-user*/
    .edit{
        width: 340px;
       
      }

    .inputlog .form-control{
        width: 90%; 
    }

    .conto{
        margin-left: -20px;
    }

    /*info*/
    .form-group{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
      }
      .form-group .form-control{
          width: 95%;
      }
    

    /* edit info*/
    .edit_info{
        width: 340px;
        height: 700px;
    }
    
    .eco {
        margin-left: 20%;
        margin-top: 2%;
    }

    /*register*/
    .buttonre{
        margin-left: 30%;
    }
    
}

#comm{
    background-color: #fcf2f1;
    margin-top: 40px;
    min-height: 550px;
    height: auto;
}

.comment1{
    background-color: #fff;
    float: left;
    width: 900px;
    margin-left: 150px;
    margin-bottom: 45px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    box-shadow: 6px 6px 6px #cbced1, 6px 6px 6px white;
    
  }
  .commen1 h4,.comment1 span,.darker h4,.darker span{
    display: inline;
  }
  
  .comment1 p,.comment1 span,.darker1 p,.darker1 span{
    color: #5F3122;
  }

  .date {
    float: inline-end;
    font-size: 24px;
    margin-top: 17px;
  }
   .icon {
    z-index: 2;
    position: absolute;
   }
  
   .in {
    margin-top: 20px;
    font-size: 16px;
   }
  
  .ff {
    margin-top: -60px;
    margin-left: 85px;
  }

  .inli {
    margin-top: 20px;
    margin-left: 60px;
  }

  .foon {
    font-size: 30px;
    color: #5F3122;
    padding-top: 60px;
    margin-bottom: 40px;
  }

 